* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

input {
    border: 1px solid red;
    color:blue;
}

input::placeholder {
    color:#FF1396;
}

p {
    color:blue
}

p::first-letter {
    color: red;
}

.p2 {
    color:blue;
    width: 900px;
}

.p2::first-line {
    color:red
}

a {
    color:blue;
}

a::before {
    content:"😎";
}

a::after {
    content: "🚀";
}


